.mainDiv {
  padding: 2.4rem 2.4rem 3.2rem 4.8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: #b7e0e6; */
  /* overflow: hidden; */
}

.mainDiv h1 {
  flex-basis: 7%;

  /* justify-content: ; */
  padding-bottom: 2.4rem;
  text-align: center;
  font-size: 3rem;
}

.infoDiv {
  flex-grow: 10;
  background-color: #b7e0e6;
}
